<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> 
    <link href="index.css" rel="stylesheet">
<% if (options.ws) { -%>
<% if (options.htmx) { -%>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<% } else { -%>
    <script src="client.js" defer></script>
<% } -%>
<% } -%>
  </head>

  <body>
    <div class="absolute top-0 left-0 h-screen w-screen mx-auto mb-3 px-20 py-14 rounded-[20vh] flex flex-row items-center justify-center bg-[#24185B]">
      <img src="brandmark-light.svg" class="h-[50vh]" alt="The monochrome white Fly.io brandmark on a navy background" srcset="">

      <div class="text-white text-[40vh] p-[10vh]" id="counter"<% if (options.htmx) { %> hx-ext="ws" ws-connect="/websocket"<% } %>>
        <%- count %>
      </div>
    </div>
  </body>
</html>
