<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> 
    <link href="index.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <img src="brandmark-light.svg" class="image" alt="The monochrome white Fly.io brandmark on a navy background" srcset="">

      <div class="counter" id="counter">
        <%= count %>
      </div>
    </div>
  </body>
</html>
