.container {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20vh;
  background-color: rgb(36 24 91);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.image {
  height: 50vh;
}

.counter {
  padding: 10vh;
  font-size: 40vh;
  color: white;
}
